/* Fonts */
@font-face {
  font-family: 'Stonewall 50';
  src: url('/fonts/Stonewall_50-Medium-web.woff2') format('woff2');
}
@font-face {
  font-family: 'CoFo Rax';
  src: url('/fonts/CoFo_Rax_V0.1.woff') format('woff');
}

/* Scroll bars */
* {
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
*::-webkit-scrollbar {
  display: none;
}

/* Resets */
html {
  line-height: 105%;
  font-size: 13px;
  font-family: 'CoFo Rax', sans-serif;
  font-weight: 200;
}
body {
  margin: 0;
}
h1, h2, h3, h4, h5, h6 {
  margin: 0;
}
ul {
  list-style-type: none;
}
ul, ol {
  padding: 0;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}


/* Utils */
.show-sm {
  display: none;
}

@media(max-width: 25em) {
  .hide-xs {
    display: none;
  }
}
@media(max-width: 45em) {
  .show-sm {
    display: initial;
  }
  .hide-sm {
    display: none;
  }
}
